<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AZUREN</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <a href="../" class="navbar-brand">Azuren</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                </span>
            </button>
            <div class="nav-collapse collapse bs-navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">@AzurenRole.Utils.GlobalData.user.username
                        <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Settings", "Account")">Settings</a></li>
                        <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <input type="hidden" value="@AzurenRole.Utils.GlobalData.user.id" id="logged-id" />

    <div class="content-body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Azuren</p>
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
