@using System.Web.Script.Services
@model AzurenRole.Models.LoginForm
<html>
<head>
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body style="background: url('/Images/bg-login.jpg') no-repeat center; background-size: 100% 100%; overflow-y: hidden;">
    <div class="login-container">
        <div class="login-ad">
            <ul>
                <li style="background-image: url('http://i.s-microsoft.com/global/ImageStore/PublishingImages/FY14/Asset/features/Win8_BTSBG_0715_1600x540_EN_US.jpg');">
                    <div class="ad-float-text ad-easy">
                        Easy, Simple
                    </div>
                </li>

                <li style="background-image: url('http://i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/SurfacePro_DeltaBG_0211_1600x540_EN_US.jpg');">
                    <div class="ad-float-text ad-safe">
                        Light, Safe
                    </div>
                </li>

                <li style="background-image: url('http://i.s-microsoft.com/global/ImageStore/PublishingImages/FY13/Asset/features/Ofc365BTS_AllDevicesBG_0611_1600x540_EN_US.jpg');">
                    <div class="ad-float-text ad-open">
                        Open, Cooperation
                    </div>
                </li>
            </ul>
        </div>
        <div class="login-form">
            <div style="color: white; font-size: 40px; background-color: #01bcf3; padding: 0 20px; margin-left: 250px;">Azuren OS</div>

            <div style="height: 70px; width: 100%;"></div>
            @using (Html.BeginForm())
            {
                
                <fieldset>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert">
                            @Html.ValidationSummary()
                        </div>
                    }
                    <div class="form-group">
                        @Html.LabelFor(m => m.EmailOrUserName)
                        @Html.TextBoxFor(m => m.EmailOrUserName, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="reg-link">
                        Don't have an account? &nbsp;&nbsp;@Html.ActionLink("Register", "Signup", null, new { @style = "font-weight:bold;" })&nbsp!
                    </div>
                    <div class="login-submit">
                        <div class="login-slide">
                            <a class="login-with-live btn btn-primary" href="@Url.Action("LiveLogin")">
                                <img class="login-live-image" src="/Images/icons/metro/im.png" style="float: right"/>
                                Login With Live Account
                            </a>
                            <button type="submit" class="btn btn-primary login-btn">
                                Login</button>
                            <a href="@Url.Action("ADLogin")" class="login-with-azure btn btn-primary">
                                <img class="login-live-image" src="/Images/icons/start.png" style="float: left;"/>
                                Login With Azure AD
                            </a>
                        </div>
                    </div>

                    <div class="reg-link" style="margin-top: 20px;">
                        @Html.ActionLink("Forgot Password?", "Reset", null, new { @style = "font-weight:bold;" })
                    </div>

                </fieldset>
            }
        </div>


    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/unslider.js")

    <script type="text/javascript">
        $(function () {
            $(".login-ad").unslider({
                speed: 500,
                delay: 7000,
                dots: true
            });
            var reset = function () {
                $(".login-slide").css("transform", "translateX(-295px)")
                                .css("-webkit-transform", "translateX(-295px)");
                $(".login-btn").css("width", "240px");
            };
            $(".login-with-live").hover(function() {
                $(".login-slide").css("transform", "translateX(0px)")
                                .css("-webkit-transform", "translateX(0px)");
            }, reset);
            $(".login-with-azure").hover(function() {
                $(".login-slide").css("transform", "translateX(-590px)")
                                .css("-webkit-transform", "translateX(-590px)");
            }, reset);
            $(".login-btn").hover(function() {
                
                $(".login-slide").css("transform", "translateX(-350px)")
                                .css("-webkit-transform", "translateX(-350px)");
                $(this).css("width", "350px");
            }, reset);
        });
    </script>
</body>
</html>
