@model AzurenRole.Models.ResetForm
@using Recaptcha
@{ Layout = null; }
<html>
<head>
    <title>Reset Password</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div class="reset-container">
        @using (Html.BeginForm())
        {
            <legend>Password Reset</legend>
            <fieldset>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert">
                        @Html.ValidationSummary()
                    </div>
                }
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                @Html.HiddenFor(m=>m.Token)
                <input type="submit" class="btn btn-primary login-btn" value="Submit" />
            </fieldset>
        }

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/unslider.js")
    <script type="text/javascript">
        $(function () {
            $(".login-ad").unslider({
                speed: 500,
                delay: 7000,
                dots: true
            });
        });
    </script>
</body>
</html>
