@model AzurenRole.Models.LoginForm
<html>
<head>
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <div class="login-form">
        @using (Html.BeginForm())
        {
            <legend>Login</legend>
            <fieldset>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert">
                @Html.ValidationSummary()
                </div>
            }
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="reg-link">
                    Don't have an account? &nbsp;&nbsp;@Html.ActionLink("Register", "Signup", null, new { @style = "font-weight:bold;" })&nbsp!
                </div>
                <button type="submit" class="btn btn-primary login-btn">
                    Login</button>
            </fieldset>
        }
    </div>
</body>
</html>
