<!DOCTYPE html>
<html>
    <head>
        <title>Azuren OS</title>
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Scripts/jsdesk/css/jdesktop.css")
        @Styles.Render("~/Content/themes/base/jquery-ui.css")
        
        <!--[if IE]>
        <link href="~/Scripts/jsdesk/css/jdesktop.ie.all.css" rel="stylesheet" type="text/css" />  
        <![endif]-->
        <!--[if lte IE 8]>
        <link href="~/Scripts/jsdesk/css/jdesktop.ie.css" rel="stylesheet" type="text/css" />  
        <![endif]-->
        @Styles.Render("~/Scripts/gridster/jquery.gridster.min.css")
        @Styles.Render("~/Scripts/terminal/jquery.terminal.css")
        @Styles.Render("~/Content/Site.css")
        
    </head>

<body>
    <div id="terminal"></div>
    <div id="wrapper">
		<div id="desktop">
			<ul id="desktop_iconarea" class="gridster"></ul>
		    <div id="widgets"></div>
		</div>
        <div id="taskbar">
            <a id="showdesktop" href="#" title="Show desktop">Menu</a>
            <div class="separator"></div>
            <div class="taskbarbuttons" id="taskbarbuttons"></div>
        </div>
<div class="ui-mask-layer"></div>
	</div>
    
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/gridster/jquery.gridster.min.js")
    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/backbone")
    @Scripts.Render("~/bundles/jquerysignalr")
    @Scripts.Render("~/bundles/ueditor")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/Scripts/jquery.form.js")
    @Scripts.Render("~/Scripts/terminal/jquery.mousewheel-min.js")
    @Scripts.Render("~/Scripts/terminal/jquery.terminal-min.js")

    @Scripts.Render("~/bundles/jsdesk")
    @Scripts.Render("~/Scripts/azuren/azuren.core.js")
    @Scripts.Render("~/Content/desk.js")

</body>
</html>
