<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AZUREN</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
@RenderBody()
</body>
</html>
