@model AzurenRole.App

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>App</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Icon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Icon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Secret)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Secret)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Desc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Desc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Width)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Width)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Height)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Height)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Star)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Star)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Callback)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Callback)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Install)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Install)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Uninstall)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Uninstall)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
