@model AzurenRole.App

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>App</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Icon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Icon)
            @Html.ValidationMessageFor(model => model.Icon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Secret)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Secret)
            @Html.ValidationMessageFor(model => model.Secret)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Desc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Desc)
            @Html.ValidationMessageFor(model => model.Desc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Width)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Width)
            @Html.ValidationMessageFor(model => model.Width)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Height)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Height)
            @Html.ValidationMessageFor(model => model.Height)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Star)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Star)
            @Html.ValidationMessageFor(model => model.Star)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Callback)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Callback)
            @Html.ValidationMessageFor(model => model.Callback)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Install)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Install)
            @Html.ValidationMessageFor(model => model.Install)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Uninstall)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Uninstall)
            @Html.ValidationMessageFor(model => model.Uninstall)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
