@model IEnumerable<AzurenRole.App>
@{
    Layout = null;
}


<div class="metro-layout horizontal">
    <div class="header" style="color: white;">
        <h1>Azuren App Store</h1>
        <div class="controls">
            <span class="next" title="Scroll left"></span>
            <span class="prev" title="Scroll right"></span>
        </div>
    </div>
    <div class="content clearfix">
        <div class="items">
            @foreach (var item in Model)
            {
                <a class="box store-app b-blue" href="#" data-id="@item.Id">
                    <span>@item.Name</span>
                    <img class="icon" src="@item.Icon" alt="" style="width: 100px;height: 100px;margin-top: -50px;margin-left: -20px;" />
                </a>
            }
        </div>
    </div>
</div>



<!--
<div class="store-header clearfix">
    <div class="store-search">
        <form class="store-search-form">
        <button class="btn btn-small btn-default store-search-btn glyphicon glyphicon-search"></button>
        <input placeholder="Search..." name="search" class="store-search-content form-control" />
     </form>
    </div>
</div>

<div class="store-container">
    @foreach (var item in Model)
    {
        <div class="store-app" data-id="@item.Id">
            <div class="store-app-icon">
                <img src="@item.Icon"/></div>
            <div class="store-app-text"><span class="store-app-name">@item.Name</span></div>
        </div>
    }
    
</div>
    -->
