@model AzurenRole.App
@{
    Layout = null;
}

@if ((bool)ViewData["installed"])
{
    <input type="hidden" id="installed" value="1" />
}
else
{
    <input type="hidden" id="installed" value="0" />
}
<div class="va-container">
    <input type="hidden" id="va-app-id" value="@Model.Id"/>
    <div class="va-header">@Model.Name&nbsp;&nbsp;<span style="font-size: 32px">@Model.Desc</span></div>
    <div class="va-shots">
        <div class="va-title">Screenshots</div>
        <div class="screenshots">
            <ul class="bjqs">
                @foreach (string s in Model.Store.Shot.Split(','))
                {
                    <li>
                        <img src="@s"></li>
                }
            </ul>
        </div>
    </div>

    <div class="va-desc">
        <div class="va-title">Details</div>
        <div class="va-detail-content">
            @if (Model.Store.Detail == null || Model.Store.Detail.Trim().Length == 0)
            {
                <i style="font-weight: bold;">No details.</i>
            }
            else
            {
                @Model.Store.Detail
            }
        </div>
    </div>
    <br />
    <div class="va-comment">
        <div class="va-title">Comments</div>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'azurenos';
            var disqus_url = window.location.href + "/appstore/@Model.Id";

            (function () {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>
