@model AzurenRole.App
@{
    Layout = null;
}

@if ((bool)ViewData["installed"])
{
    <input type="hidden" id="installed" value="1" />
}
else
{
    <input type="hidden" id="installed" value="0" />
}
<div class="va-container">
    <input type="hidden" id="va-app-id" value="@Model.Id"/>
    <h2>@Model.Name</h2>
    <img src="@Model.Icon"/>
    <div class="va-desc">@Model.Desc</div>
    <div class="va-star">Stars: @Model.Star</div>
    <br />
    <div class="va-comment">
        <ul>
            <li>usbuild: Good Application</li>
        </ul>
    </div>
</div>
